/* tudo dentro do menu top vai ficar dentro do tamanho maximo de 1200x800px*/
/*logo dar tamanho a página = menu_top*/
.backgroundcolor {
    position: relative;
background-color: black;
width: 100%;
height: 100%;
}
.background {
    display: inline-table;
    width: 100%;
    height:100%;
    background-repeat: repeat-y;
    background-attachment:scroll;
}
/*width é para dar tamanho e height tamanho em pixels*/
/*criando a logo*/ 
.png_controlelogo{
    position: absolute;
    width: 141px;
    height: 138px;
    left: 42px;
    top: 12px;
    
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
}
.png_controlelogo a{
    color: #FFFFFF;
}
.png_controlelogo a:hover{
    color: azure;
}
.sublogo{
    position: absolute;
width: 146px;
height: 22px;
left: 40px;
top: 54px;

font-family: PT Serif;
font-style: italic;
font-weight: bold;
font-size: 12px;
line-height: 16px;
text-align: center;
text-decoration-line: line-through;
text-transform: lowercase;

opacity: 0.5;
}
.sublogo a{
    color: #FFFFFF;
}
.sublogo a:hover{
    color: #FFFFFF;
}
/*logo criada*/
/*arrumando os icons*/
.brazil{
    position: absolute;
width: 34px;
height: 34px;
right: 80px;
top: 0px;
}
.insta{
    position: absolute;
width: 49px;
height: 49px;
left: 51%;
top: 90%;
}
.gmail{
    position: absolute;
width: 55px;
height: 55px;
left: 45%;
top: 90%;
}
.facebook{
    position: absolute;
width: 55px;
height: 55px;
left: 56.4%;
top: 90%;
}
.user{
position: absolute;
width: 29px;
height: 29px;
right: 130px;
top: 3px;
}
.shop{
    position: absolute;
width: 32px;
height: 32px;
right: 35px;
top: 3px;

}
/*creating elipses 1 to 4*/
/*it's like bottons on left of the page that will contain imgs*/
.elipse{
    border-radius: 50%;
    display: inline-block;
position: absolute;
width: 10px;
height: 10px;
left: 45px;
top: 55%;
border: #0500ff;
border-style: solid;

background: #0500FF;
}
.elipse a:hover{
    color: aliceblue;
    background: aliceblue;
}
/*---------------*/
.elipse2{
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 45px;
    top: 58%;
    border: white;
    background: white;
}
.elipse2 :hover{
    color:#0500ff;
}
/*----------------------*/
.elipse3{
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 61%;
    left: 45px;
    border:white;
    background: white;
}
.elipse3 :hover{
    color: #0500ff;
}
/*---------------------*/
.elipse4{
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 64%;
    left: 45px;
    border: white;
    background: white;
}
.elipse4 :hover{
    color: #0500ff;
}
/*------------------------------------*/
/*hover is used when mouse is over them*/
.linkMenu1:hover{
    color:white;
}
.linkMenu2:hover{
    color:white;
}
.linkMenu3:hover{
    color:white;
}
.linkMenu4:hover{
    color:white;
}
/*------------------------------------*/
/*active when link are selected*/
.linkMenu1 a:active{
    color:steelblue;
}
.linkMenu2 a:active{
    color: steelblue;
}
.linkMenu3 a:active{
    color: steelblue;
}
.linkMenu4 a:active{
    color: steelblue;
}
/*------------------------------------*/
/*First part before space destinated to position and size*/
/*second part destinated to size of letters, colors etc*/
.linkMenu1{
    position: absolute;
width: 191px;
height: 37px;
left: 20%;
top: 18px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-align: center;
color: white;
}
.linkMenu2 {
    position: absolute;
width: 243px;
height: 37px;
left: 32%;
top: 18px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-align: center;
color: white;
}
.linkMenu3{
    position: absolute;
width: 243px;
height: 37px;
right: 32.6%;
top: 18px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-align: center;
color: white;
}
.linkMenu4{
    position: absolute;
width: 243px;
height: 37px;
right: 16%;
top: 18px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-align: center;
color: white;
}

/*-------------------------------------------*/


.principal{
    position: absolute;
width: 1049px;
height: 42px;
left: 13%;
top: 341px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 88px;
text-align: center;

color: #FFFFFF;
}

.subparagrafo{
    position: absolute;
width: 746px;
height: 134px;
left: 121px;
top: 516px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;
}

.impactado{
    position: absolute;
width: 411px;
height: 59px;
left: 80px;
top: 312px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}

.redirecao{
position: absolute;
width: 402px;
height: 141px;
left: 800px;
top: 680px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
}
.redirecao a{
    color: #514e4e;
}
.redirecao a:hover{
    color: #FFFFFF;
}